body {
    background-image: url('img/krakow2.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

#textMenu2 {
    display: inline-block;
}


header ul{

    padding: 0;
    list-style: none;
    display: inline;
    text-align: center;
}
header li{
    display: inline-block;
}
header li a{
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 3vw;
    border: none;
    padding: 2.5vw;
    cursor: pointer;
    font-family: Arial, Verdana, serif;
}
header li a:hover{
    color: #555555;
}

header li a {
    padding: 1.5vw;
    font-size: 1vw;
}

a {
    z-index: 10;
    color: black;
}

header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), white);
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-info {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 0 auto;
}

.user-info h2 {
    text-align: center;
    margin-bottom: 20px;
}

.user-info label {
    display: block;
    margin-bottom: 5px;
}

.user-info input[type="text"],
.user-info input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.user-info input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-info input[type="submit"]:hover {
    background-color: #45a049;
}